
body {
  font-family: sans-serif;
  background: #f2f2f2;
  padding: 20px;
}
h1 {
  text-align: center;
}
.unit-entry {
  background: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
